.contactsBlock {
    min-height: 30vh;
    padding: 50px 0px;
    .contactsContainer {
        margin: 0 auto;
        flex-direction: column;
        justify-content: space-evenly;
        .sendButton {
            position: relative;
            margin: 10px 0;
        }
    }
}



