.projectsBlock {
    height: 100vh;
    background-color: #fabbff;
}

.projectsContainer {
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.title {
    background-color: #eeeef5;
}

.projects {
    display: flex;
    justify-content: space-between;
    border: 1px solid;
}